<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a id="test" style="display: none">Hello</a>
    <script type="module">
        let webApp = window.Telegram.WebApp
        webApp.ready()
        if(webApp.initData){
            fetch(`${location.origin}/api/telegram_webapp/activate-invite`,{
                method: "POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    init_data: webApp.initData,
                    token: "test"
                })
            })
                .then(response => {
                    if(response.ok) {
                        let test = document.getElementById("test")
                        test.style.display = 'inline'
                    }
                })
                .catch(error => {
                    console.log("Что-то не так")
                })
        }
    </script>
</body>
</html>